p {
	border: 1px solid #ccc;
}

.AktuelleTemperatur {
	font-size: 6.0em;
  }

.MinMaxTemperatur {
	font-size: 2.0em;
  }

.logo-img {
	float: left;
	position: relative;
	margin: 10px 15px 15px 10px;
}

.logo-text {
	font-size: 1.8em;
	float: left;
	position: relative;
	margin: 10px 15px 15px 10px;
}

.bg-div {
	overflow: hidden;
}

kopf {
	color: #aaaaaa;
	float: left;
}

table {
	width: 100%;
	padding: 0.4em;
}

th {
    cursor: pointer;
}

tr:nth-child(odd) {
	background-color: #e4ebf2;
}

td {
	overflow: hidden;
	vertical-align: top;
	horiz-align: center;
}

h1 {
	color: #aaaaaa;
}

h2 {
	font-weight: 400;
	font-size: 1.2em;
}

hr {
	border-color: #ccc;
}

